*{
    color: white;
    overflow-y: hidden!important;
}

  
  .example-sidenav {
    width:60%;
    overflow-y: hidden!important;

  }

  .example-spacer {
    flex: 1 1 auto;
    overflow-y: hidden!important;

  }
  